.root,
.root_reverse {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-bottom: 25px;
}



.root_reverse {
  direction: rtl;
}

.players_container {
  display: flex;
}

.header_row,
.data_row {
  display: flex;
  /* justify-content: left; */

  justify-content: center;

}

.header_row--left {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  /* justify-content: right; */
  justify-content: center;
}

.data_row--right {

  display: flex;
  /* justify-content: right; */
  justify-content: center;
}

.data_row--left {
  display: flex;
  /* justify-content: left; */
  justify-content: center;
}

.header_row--right {
  display: flex;
  /* justify-content: left; */
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
}

.row_item,
.row_item_col {
  display: flex;
  width: 100px;
  padding: 8px 4px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.row_item_col {
  flex-direction: column;
}

.row_item_hidden {
  flex: 1;
  display: none;
}




.discipline {
  font-weight: bold;
}

.discipline:hover {
  color: darkgreen;
  cursor: pointer;
  text-decoration: underline;

}