.root {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  border-radius: 8px;
  padding: 10px 0px;
}


.logo {
  height: 125px;
}

.hide {
  display: none;
}

.display_selector {
  border: 1px dashed black;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 25px;
}


.hide_selector {
  display: none;
}