.form_container {
  flex: .8;
  padding: 25px;
}

.team__container {
  display: flex;
  /* text-align: center; */
  justify-content: space-around;
}

.half {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
}

select {
  display: flex;
  height: 55px;
  width: 350px;
  border: 1px solid grey;
  border-radius: 8px;
  margin-left: 15px;
  font-size: 25px;
  font-weight: bold
}

option {
  text-align: center;
  font-size: 25px;
  font-weight: bold
}


.start {
  background-color: black;
  border-radius: 8px;
  padding: 15px;
  margin: 25px 0px;
  width: 100%;
  font-size: 35px;
  font-weight: bold;
  color: white;
}

.start:hover {
  transition-duration: 400ms;
  background: green;
  cursor: pointer
}


.disabled {
  color: lightgrey;
  border-radius: 8px;
  padding: 15px;
  margin: 25px 0px;
  width: 100%;
  font-size: 35px;
  font-weight: bold;
}