.root {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-left: 5vw;
}


.main {
  display: flex;
}

.outer_section {
  flex: 4;
  max-width: 33%;
}




.inner_section {
  flex: 7;
}


.score_panel_section {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  min-width: 90%;
  border: 1px solid black;
  margin-left: 5%;
  margin-right: 5%;
}

.panel {
  width: 40vw;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 8px;
}