.root {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}



.row {
  display: flex;
}

.kill {
  background-color: rgb(72, 140, 163);
  font-size: 20px;
  font-weight: bold;
}

.col {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 1px solid black;
}

.win {
  background-color: lightgreen;
  padding: 15px
}

.lost {
  background-color: lightcoral;
  padding: 15px
}