.root {
  display: flex;
  flex-wrap: wrap;
}

.header {
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  border-right: 2px solid black;
  padding: 15px;
}

.match_container {
  border: 2px solid black;
  border-right: none;
  border-bottom: none;
  width: 300px;
  display: flex;
  flex-direction: column;
  margin: 50px;
  background: rgb(150, 255, 118);

}

.row {
  border-right: 2px solid black;
  display: flex;
  flex: 1;
  border-top: 2px solid black;
}

.score_section {
  display: flex;
}



.col {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-right: 2px solid black;
}




.col_item {
  border-bottom: 2px solid black;
  padding: 5px 5px;
}


.row_item {
  flex: 1;
  padding: 5px;
}

.row :first-child {
  border-right: 2px solid black;
}


.csv_export_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bold {
  font-weight: 700;
  font-size: 20px;
}

.col_item img {
  width: 15px;

  height: 15px;
  padding: 3px 3px;

}

.block {
  display: block;
}