.root {
  display: flex;
  padding: 25px 0px;
}

.hidden_lineup {
  display: flex;
}


.logo {
  width: 200px;
  height: 200px;
}

.outer_section {
  flex: 3
}

.center {
  text-align: center;
  flex: 1
}

.toggle_button {
  padding: 8px;
  font-weight: bold;
  border-radius: 8px;
  width: 80%;
  border: none;
}

.toggle_button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.status_header {
  margin-bottom: 25px;
  margin-top: 25px
}

@media screen and (max-width: 1200px) {
  .root {
    flex-direction: column;
    font-size: 12px;
    border: 1px solid orange;
    align-items: center;
  }

}