.root {
  display: flex;
  padding: 25px 0px;

}

.logo {
  width: 200px;
  height: 200px;
}

.outer_section {
  flex: 3
}

.center {
  text-align: center;
  flex: 1
}

.toggle_button {
  padding: 8px;
  font-weight: bold;
  border-radius: 8px;
  width: 80%;
  border: none;
}

.toggle_button:hover {
  opacity: 0.6;
  cursor: pointer;
}