.root,
.root_reverse {
  display: flex;
  background-color: lightgrey;
}




.root {
  padding-left: 10px;
}

.root_reverse {
  padding-right: 10px;
  direction: rtl
}




.col,
.col_short,
.col_long {
  display: flex;
  flex: 1;
  align-items: center;
}

.col_long {
  flex: 4;
  width: 0;
}



.col_short {
  flex: 1;
  max-width: 50px;
}

.col {
  padding: 10px;
}

.edit_button {
  height: 50px;
  justify-content: center;
  background-color: transparent;
  outline: none;
  border: 1px solid rgb(66, 131, 36)
}

.col_long input:focus {
  outline: none;
  background: lightblue;
  color: black;
  font-weight: bold;
  box-sizing: border-box;
  max-width: 180px;
  font-size: 25px;

}

.large {
  font-size: 20px;
  font-weight: bold;
}