.overlay_content {
  width: 60vw;
  padding: 50px;
  background-color: rgb(53, 130, 245, .9);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay_content h1 {
  color: white;
  margin: 0;
}

.overlay_content h2 {
  color: white;
}


.button_box {
  display: flex;
  min-height: 300px;

}

.section {
  display: flex;
  flex-direction: column;
  width: 40vw;

}

.section button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-radius: 12px;
  padding: 8px 0px;
  min-height: 60px;
  margin: 10px;
}



.section_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 45px;
  height: 45px;
  margin-right: 15px
}

.section_col button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  height: 100%;
  margin: 5px;
  border-radius: 12px;
}


.large_button,
.large_button_selected {
  height: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.large_button_selected {
  background-color: green;
  font-weight: bold;
  color: white;
}

.selected {
  background-color: green;
  font-weight: bold;
  color: white;
}

.confirm,
.disabled,
.dangerous {
  margin-top: 25px;
  padding: 15px 0px;
  border-radius: 8px;
  width: 25%;
  background-color: lightgreen;
  cursor: pointer;
}

.dangerous {
  background-color: red;
  font-weight: bold;
  font-size: 16px;
}

.dangerous:hover::before {
  content: "Non reversible!! ";
  font-weight: bold;
  font-size: 18px;
}

.disabled {
  cursor: not-allowed;
  background-color: lightgrey
}

.confirm:hover {
  font-weight: bold;
  background: green;
  color: white;
}

button:focus {
  border: 2px solid white;
}

button:hover {
  cursor: pointer
}